@using MyTrainingPal.Domain.Entities
@using MyTrainingPal.Service.DTO.User
@model UserGetDTO

@{
    ViewData["Title"] = "Profile";
    string editSuccess = (string?)TempData["EditSuccess"] ?? "";
    UserEditForm userEditForm = new UserEditForm();
}

@if(Model == null)
{
    <p>There was an error loading the user profile. Please try again later.</p>
    return;
}

<div class="modal fade" id="userEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        
    </div>
</div>

<section class="wrapper">
    <div class="row gutters-sm px-0" id="userProfileData">
        <div class="col-md-4 mb-3">
            <div class="card p-4 shadow-none">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://i1.rgstatic.net/ii/profile.image/953219836571648-1604276727180_Q512/Victor-Asuaje-2.jpg" alt="User profile" class="rounded-circle profile-pic">
                        <div class="mt-3">
                            <h4>Victor Pérez Asuaje</h4>
                            <p class="text-secondary mb-1">Full Stack Developer</p>
                            <p class="text-muted font-size-sm">Seville, Spain</p>
                            <a class="btn btn-primary" href="https://www.linkedin.com/in/victor-perez-asuaje/" target="_blank">Follow</a>
                            <a class="btn btn-outline-primary" href="https://academiadotnet.com/" target="_blank">Web</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3 p-3 shadow-none">
                <div class="card-body">
                    <div class="row my-4">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.FullName
                        </div>
                    </div>
                    <hr>
                    <div class="row my-4">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.Email
                        </div>
                    </div>
                    <hr>
                    <div class="row my-4">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Are you one of our Premium Pals?</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @if (@Model.IsPremium)
                            {
                                <span>You are! <i class="bi bi-patch-check"></i></span>
                            }
                            else
                            {
                                <p>You are not... 😢</p>
                                <form asp-controller="Profile" asp-action="MakeMePremium" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-success">Make me Premium! 🤑</button>
                                </form>
                                
                            }
                        </div>
                    </div>
                    <hr>
                    <div class="row my-4">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Registered on</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.RegistrationDate
                        </div>
                    </div>
                </div>
                    <div class="card-footer d-flex justify-content-end">
                        <form id="buttonEditForm" asp-controller="Profile" asp-action="LoadUserEditableData" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#userEditModal" data-ajax-mode="replace">
                        <button type="submit" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#userEditModal">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row gutters-sm">
        <div class="col-sm-12 col-lg-6 mb-3">
            <div class="card p-3 mb-3 shadow-none">
                    <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3">Stats</h6>
                        <!-- For loop all the Workout Types depending on previous history -->
                        @foreach(var pair in Model.WorkoutTypeFrequency)
                        {
                            <small>@Enum.GetName(pair.Key)</small>
                            <div class="progress mb-3" style="height: 5px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: @pair.Value%" aria-valuenow="@pair.Value" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        }
                    </div>
            </div>
            <div class="card p-3 mb-3 shadow-none">
                <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3">This week</h6>
                    <div id="chartContainer" style="height: 370px; width: 100%;">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6 mb-3">
            <div class="card p-3 shadow-none">
                <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3">Latest Workouts</h6>
                    <div id="workoutHistoryPanel">
                        <partial name="_WorkoutHistoryTable" model="@Model.CompletedWorkouts" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="~/js/pages/profile.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", LoadThisWeekWorkouts(@Json.Serialize(Model.ThisWeeksChart.ToList())));
    </script>
}